<div class="p-4 md:p-10 max-w-4xl mx-auto">
    <form [formGroup]="userForm" (ngSubmit) ="addUser()" class="flex flex-col w-full gap-4">
  
      <div class="flex flex-col md:flex-row gap-4">
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
          <mat-label>FirstName</mat-label>
          <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
          <mat-label>LastName</mat-label>
          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
      </div>
  
      <div class="flex flex-col md:flex-row gap-4">
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
              <mat-option value="CSE">COMPUTER SCIENCE ENGINEERING</mat-option>
              <mat-option value="IT">INFORMATION TECHNOLOGY</mat-option>
              <mat-option value="ECE">ECE</mat-option>
              <mat-option value="EEE">EEE</mat-option>
              <mat-option value="ME">ME</mat-option>
              <mat-option value="MC">MC</mat-option>
            </mat-select>
         </mat-form-field>
      </div>
  
      <div class="flex flex-col md:flex-row gap-4">
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
          <mat-label>Register Number</mat-label>
          <input matInput type="text" formControlName="user_id">
        </mat-form-field>
        
        <mat-form-field class="flex-1 w-full md:min-w-[240px]">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="staff">STAFF</mat-option>
            <mat-option value="admin">ADMIN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="flex justify-center mt-4">
        @if(mode !== 'edit') {
          <button type="submit" mat-flat-button color="primary" class="w-full md:w-auto px-8">Create</button>
        }
        @else {
          <button type="submit" mat-flat-button color="primary" class="w-full md:w-auto px-8">Update</button>
        }
      </div>
    </form>
  </div>