section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px 0;
    display: block;
    max-width: 100%;
}

input{
    height: 30px;
}